---
export type Props = {
    next?: { label: string; url: string } | undefined;
    prev?: { label: string; url: string } | undefined;
    itemLabel: string;
};

const { next, prev, itemLabel } = Astro.props;
---

<nav class="u-guttered" aria-label={`Next and Previous ${itemLabel}`}>
    {prev && <a href={prev.url}>Previous: {prev.label}</a>}
    {(prev && next) && <> &middot; </>}
    {next && <a href={next.url}>Next: {next.label}</a>}
</nav>

<style lang="scss">
    nav {
        margin-bottom: var(--space-2xl);
    }
</style>