---
import Passage from "@components/Passage.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";
import NextAndPrevLinks from "@components/sections/NextAndPrevLinks.astro";
import Base from "@layouts/Base.astro";
import pluralize from "@utils/pluralize";
import toWithNextAndPrev, {
    type WithNextAndPrev,
} from "@utils/toWithNextAndPrev";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
    const episodes: CollectionEntry<"episodes">[] =
        await getCollection("episodes");

    return toWithNextAndPrev(episodes).map((entryWithNextAndPrev) => {
        return {
            params: {
                episode: entryWithNextAndPrev.item.data.episode,
                season: entryWithNextAndPrev.item.data.season.id,
            },
            props: { entryWithNextAndPrev },
        };
    });
}) satisfies GetStaticPaths;

export type Props = {
    entryWithNextAndPrev: WithNextAndPrev<CollectionEntry<"episodes">>;
};

const { entryWithNextAndPrev } = Astro.props;

const { item: entry, next, prev } = entryWithNextAndPrev;

const prevData = prev && {
    label: prev.data.title,
    url: `/${prev.data.season.id}/${prev.data.episode}`,
};

const nextData = next && {
    label: next.data.title,
    url: `/${next.data.season.id}/${next.data.episode}`,
};

type Reference = CollectionEntry<"episodes">["data"]["references"][number];
---

<Base title={`${entry.data.title} | Scriptures of The Chosen`}>
    <NavigationBar />
    <main class="u-guttered">
        <h1>{entry.data.title}</h1>
        {
            entry.data.description && (
                <p>&ldquo;{entry.data.description}&rdquo;</p>
            )
        }
        <a class="watch" href={entry.data.watchUrl} target="_blank">
            Watch{" "}
            <span class="u-desktop-only">on TheChosen.tv</span>
            <span class="u-mobile-only">in the Chosen app</span>
            <Icon name="fluent:open-12-regular" />
        </a>
        <h2>Scriptures</h2>
        <p>
            {entry.data.references.length}
            {pluralize("scripture", entry.data.references.length)} found
        </p>
        <ol>
            {
                entry.data.references.map((ref: Reference) => (
                    <Fragment>
                        <li>
                            <h3>{ref.passage}</h3>
                            <p>{ref.notes}</p>
                            <Passage passage={ref.passage} />
                        </li>
                    </Fragment>
                ))
            }
        </ol>
    </main>
    <NextAndPrevLinks next={nextData} prev={prevData} itemLabel="Episode" />
    <Footer />
</Base>
<style lang="scss">
    .watch {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 0.4em;
        background-color: var(--primary-700);
        box-shadow: 0px 4px 4px black;
        color: var(--gray-50);
        text-decoration: none;
        font-size: var(--step-0);
        transition:
            background-color ease 200ms,
            transform ease 200ms;
        & > :global(svg) {
            display: inline-block;
            margin-left: 0.4em;
            transform: translateY(0.15em) scale(1.3);
        }
        &:hover,
        &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 6px 6px black;
            background-color: var(--primary-600);
        }
    }
    .dateline {
        margin-block-end: var(--space-xs);
        margin-block-start: var(--space-s);
    }
    .hero {
        inline-size: 100%;
        block-size: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .hero-section {
        padding-bottom: 0;
    }
    .article-section {
        padding-top: 0;
    }
    .passage > :not(:first-child) {
        margin-top: 1em;
    }
    blockquote li:first-child {
        margin-top: 0;
    }
</style>
