---
import Passage from "@components/Passage.astro";
import ReferencesSummary from "@components/ReferencesSummary.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";
import NextAndPrevLinks from "@components/sections/NextAndPrevLinks.astro";
import Base from "@layouts/Base.astro";
import toWithNextAndPrev, {
    type WithNextAndPrev,
} from "@utils/toWithNextAndPrev";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { getCollection, type CollectionEntry } from "astro:content";

export const getStaticPaths = (async () => {
    const episodes: CollectionEntry<"episodes">[] =
        await getCollection("episodes");

    return toWithNextAndPrev(episodes).map((entryWithNextAndPrev) => ({
        params: {
            episode: entryWithNextAndPrev.item.data.episode,
            //cast is necessary because of a bug in Astro
            season: (entryWithNextAndPrev.item.data.season as { id: string })
                .id,
        },
        props: { entryWithNextAndPrev },
    }));
}) satisfies GetStaticPaths;

export type Props = {
    entryWithNextAndPrev: WithNextAndPrev<CollectionEntry<"episodes">>;
};

const { entryWithNextAndPrev } = Astro.props;

const { item: entry, next, prev } = entryWithNextAndPrev;

const prevData = prev && {
    label: prev.data.title,
    //cast is necessary because of a bug in Astro
    url: `/${(prev.data.season as { id: string }).id}/${prev.data.episode}`,
};

const nextData = next && {
    label: next.data.title,
    //cast is necessary because of a bug in Astro
    url: `/${(next.data.season as { id: string }).id}/${next.data.episode}`,
};

type Reference = CollectionEntry<"episodes">["data"]["references"][number];
---

<Base title={`${entry.data.title} | Scriptures of The Chosen`}>
    <NavigationBar />
    <main class="u-guttered">
        <nav aria-label="Breadcrumbs" class="breadcrumbs">
            <ol>
                <li>
                    <!-- cast is necessary because of a bug in Astro -->
                    <a href={`/${(entry.data.season as { id: string }).id}`}
                        >{
                            (
                                entry.data.season as { id: string }
                            ).id.toUpperCase()
                        }</a
                    >
                    <span aria-hidden="true">:</span>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        >{entry.data.episode.toUpperCase()}</a
                    >
                </li>
            </ol>
        </nav>
        <h1>{entry.data.title}</h1>
        {
            entry.data.description && (
                <p>&ldquo;{entry.data.description}&rdquo;</p>
            )
        }
        <a class="watch" href={entry.data.watchUrl} target="_blank">
            Watch{" "}
            <span class="u-desktop-only">on TheChosen.tv</span>
            <span class="u-mobile-only">in the Chosen app</span>
            <Icon name="fluent:open-16-regular" />
        </a>
        <h2>Scriptures</h2>
        <p>
            <ReferencesSummary references={entry.data.references} />
        </p>
        <ol>
            {
                entry.data.references.map((ref: Reference) => (
                    <li>
                        <h3>{ref.passage}</h3>
                        <p>{ref.notes}</p>
                        <Passage passage={ref.passage} />
                    </li>
                ))
            }
        </ol>
        <NextAndPrevLinks next={nextData} prev={prevData} itemLabel="Episode" />
    </main>
    <Footer />
</Base>
<style lang="scss">
    h1 {
        margin-top: 0;
    }
    .watch {
        display: inline-block;
        padding: 0.5em 1em;
        border-radius: 0.4em;
        background-color: var(--primary-700);
        box-shadow: 0px 4px 4px black;
        color: var(--gray-50);
        text-decoration: none;
        font-size: var(--step-0);
        transition:
            background-color ease 200ms,
            transform ease 200ms;
        & > :global(svg) {
            display: inline-block;
            margin-left: 0.2em;
            transform: translateY(0.15em) scale(1.2);
        }
        &:hover,
        &:focus {
            transform: translateY(-2px);
            box-shadow: 0px 6px 6px black;
            background-color: var(--primary-600);
        }
    }
    .dateline {
        margin-block-end: var(--space-xs);
        margin-block-start: var(--space-s);
    }
    .hero {
        inline-size: 100%;
        block-size: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .hero-section {
        padding-bottom: 0;
    }
    .article-section {
        padding-top: 0;
    }
    .breadcrumbs {
        margin-top: -1em;
        margin-bottom: 0;
        color: var(--gray-300);
        li {
            display: inline;
        }
        a {
            &:link,
            &:visited {
                color: inherit;
            }
        }
    }
</style>
