---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Base from "@layouts/Base.astro";
import Footer from "@components/sections/Footer.astro";
import NavigationBar from "@components/sections/NavigationBar.astro";
import type { Verse } from "@utils/getScriptureText";

export const getStaticPaths = (async () => {
    const episodes: CollectionEntry<"episodes">[] =
        await getCollection("episodes");

    return episodes.map((entry) => {
        return {
            params: { episode: entry.data.episode, season: entry.data.season.id },
            props: { entry },
        };
    });
}) satisfies GetStaticPaths;

export type Props = {
    entry: CollectionEntry<"episodes">;
};

const { entry } = Astro.props;
---

<Base title={`${entry.data.title} | Scriptures of The Chosen`}>
    <NavigationBar />
    <main class="u-guttered">
        <h1>{entry.data.title}</h1>
        <p>"{entry.data.description}"</p>
        <h2>References</h2>
        <p><small>{entry.data.references.length} Reference{entry.data.references.length === 1 ? '' : 's'}</small></p>
		<ol>
			{entry.data.references.map((ref: CollectionEntry<'episodes'>['data']['references'][number]) => (
				<li>
                    <h3>{ref.passage}</h3>
                    <ol>
                        {ref.verses.map((v: Verse) => (
                            <li>
                                <blockquote>
                                    {ref.verses.length !== 1 && <><strong>{v.number}</strong>{" "}</>}{v.text}
                                </blockquote>
                            </li>       
                        ))}
                    </ol>
                </li>
			))}
		</ol>
    </main>
    <Footer />
</Base>
<style lang="scss">
    h1 {
        margin-block-start: var(--space-xs);
    }
    .dateline {
        margin-block-end: var(--space-xs);
        margin-block-start: var(--space-s);
    }
    .hero {
        inline-size: 100%;
        block-size: 100%;
        aspect-ratio: 3/2;
        object-fit: cover;
    }
    .hero-section {
        padding-bottom: 0;
    }
    .article-section {
        padding-top: 0;
    }
</style>
