---
import standardizeScripture from '@utils/standardizeScripture';
import type { CollectionEntry } from 'astro:content'
export type Props = {
    references: CollectionEntry<'episodes'>['data']['references'],
}

const { references: refs } = Astro.props;

const passages = refs.map(r => standardizeScripture(r.passage));

const text = refs.length > 2 ? `${passages[0]}, ${passages[1]}, and ${refs.length - 2} more` :
        refs.length === 2 ? `${passages[0]} and ${passages[1]}` :
        refs.length === 1 ? `${passages[0]}` :
        `No scriptures found yet`;
---

<span>{text}</span>